:root {
    --text-color: hsla(0,0%,100%,0.9);
    --widget-bg: rgba(0,0,0,0.24);
    --widget-bg-color: rgba(0,0,0,0.24);
    --widget-shadow-color: rgba(4,7,30,0.4);
    --sidebar-list-color: rgba(18,20,43,0.42);
}