@import './_variables.css';

.widget {
  color: rgba(244, 244, 245, 0.6);
  display: block;
  position: relative;
  margin-bottom: 40px;
  border-radius: 10px;
  background: var(--widget-bg-color);
  box-shadow: var(--widget-shadow-color);
}
